@charset "utf-8";
/* CSS Document */


body {
	font-size: 14px;
	background-color: white;
	padding: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 22px;
}

form {
	margin: 0px;
	padding: 0px;
}

label {
	line-height: 150%;
	vertical-align: text-top;
}

a {
	color: #0000CC;
}

table.table-data {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

.table-data th {
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  text-align: left;
  padding: 5px 0px 2px 4px;
  background-color: #CAE8EA;
}

.table-data th.header {
  border-left: 1px solid #C1DAD7;
  background-color: #8AA8AA;
  color: white;
}

.table-data th.first {
  border-left: 1px solid #C1DAD7;
}

.table-data td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  padding: 2px 2px 2px 4px;
}

.table-data th.row_first {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: none;
}

.table-data tr.odd td {
  background-color: #fff;
  color: #4f6b72;
}

.table-data tr.odd th {
  background-color: #fff;
  color: #4f6b72;
}

.table-data tr.even td {
  background: #F5FAFA;
  color: #797268;
}

.table-data tr.even th {
  background: #F5FAFA;
  color: #797268;
}
