body {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}
h1 {
	font-size:2.1em;
	color: #69c;
}
code, pre {
	font-family:monospace;
	font-size:1.15em;
	color:#44A;
}
code {
	color:#227;
	white-space:nowrap;
	margin:0 .2em;
}
pre {
	margin-left:1em;
}
.notice {
	padding: 1em;
	background: #ffd;
	border: solid 2px #eeb;
	display: block;
	font-family: Verdana;
}
.tip {
	background: #efe;
	padding: 1em;
	border: solid 2px #cdc;
}
.error {
	background: #fee;
	padding: 1em;
	border: solid 2px #dcc;
}
