body {
   background-color: White;
   padding: 0px;
   margin: 0px;
   font-size: 12px;
   text-align: left;
}

#window {
   margin: 30px;
   padding: 0px;
   width: 520px;
   margin-left: auto;
   margin-right: auto;
}

#content {
   border: 1px solid #CCCCCC;
   background-color: #F0F0F0;
   float: left;
   width: 520px;
}

#content h1 {
   margin: 0px 0px 8px 0px;
   padding: 4px 8px 4px 8px;
   color: White;
   font-size: 14px;
   font-weight: bold;
   background-color: #004180;
}

#note {
   margin: 0px;
   float: left;
   padding: 8px 8px 8px 18px;
   width: 230px;
}

#form {
   float: right;
   padding: 8px;
   width: 230px;
}

#form form {
   border: 1px solid #CCCCCC;
   margin: 8px 0px 8px 0px;
   padding: 8px;
   font-size: 12px;
}

#form label {
   padding: 0px 0px 0px 5px;
}

#form input {
   color: Blue;
   font-size: 12px;
   border: 1px outset #6495ED;
   padding: 3px;
   height: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-variant: normal;
}

#form .button {
   color: Black;
   border: 1px outset Gray;
   padding: 3px 14px 3px 14px;
   height: 26px;
}

.error-msg {
   color: Red;
   font-weight: bold;
}
