#topNavBar {
	border-bottom: 1px #cccccc solid;
	height: 25px;
	background-color: #f1f3f5;
}

form {
	margin: 0px;
	padding: 0px;
}

#mainMenuBar {
	float: left;
}

#current_action {
	background-color: #FFCC99;
	font-size: 14px;
	padding: 10px;
	line-height: 100%;
}

#update_roles_form {
	padding: 0px;
	margin-top: 10px;
}

.block {
	padding: 4px;
	float: left;
	background-color: #FFFFCC;
	margin: 0px 10px 10px 0px;
	border: 1px solid #666;
	width: 270px;
	height: 210px;
}

.block input {
	margin: 0px;
	padding: 0px;
	width: 12px;
	height: 12px;
}

.block label {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	line-height: 100%;
}

.block h3 {
	margin: 2px 0px 2px 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}

.nofloat {
	clear: both;
	float: none;
}
