<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Album</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function checkSelected(form)
{
	arr = form.elements['selected[]'];
	if (arr.length == undefined) {
		arr = new Array(arr);
	}
	for (i = 0; i < arr.length; i++) {
		if (arr[i].checked) { return confirm("相册中的所有相片都会删除。\n您确定要删除选中的相册？"); }
	}
	alert('必须选中要删除的相册');
	return false;
}
</script>
</head>
<body>
<div id="content">
  <h1>相册列表</h1>
  <p>您可以点击相册查看该相册的相片，或者<a href="{{ url controller='manage' action='newalbum' }}">创建新相册</a>。</p>
  <p>
  <form name="form_delete" action="{{ url controller='manage' action='deleteAlbums' }}" method="post" onsubmit="return checkSelected(this);">
    {{ section name=i loop=$albums }}
    {{ assign var='a' value=$albums[i] }}
    <div class="album">
      <h3>{{$a.title|escape}}</h3>
      <a href="{{ url action='album' id=$a.album_id }}"><img src="{{ if $a.photos[0].thumb_filename != '' }}upload/thumbs/{{ $a.photos[0].thumb_filename }}{{ else }}images/nophoto.jpg{{ /if }}" class="thumb" width="220" height="220" /></a>
      <p>
        <input type="checkbox" name="selected[]" value="{{$a.album_id}}" id="selected_{{$a.album_id}}" />
        <label for="selected_{{$a.album_id}}">日期：{{ $a.created|date_format:"%y-%m-%d" }}，相片数：{{ $a.photos_count }}</label>
      </p>
    </div>
    {{ /section }}
    <div class="nofloat"></div>
    {{ if count($albums) > 0 }}
    <p>
      <input type="submit" name="btnDelete" value="删除选中的相册" />
    </p>
    {{ /if }}
  </form>
  </p>
</div>
</body>
</html>
