<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Album</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function basename(filename)
{
	p = filename.lastIndexOf("\\");
	if (p == -1) {
		p = filename.lastIndexOf("/");
		if (p == -1) { p = 0; }
	}
	return filename.substring(p + 1);
}

function checkSelected(form)
{
	arr = form.elements['selected[]'];
	if (arr.length == undefined) {
		arr = new Array(arr);
	}
	for (i = 0; i < arr.length; i++) {
		if (arr[i].checked) { return confirm('您确定要删除选中的相片'); }
	}

	alert('必须选中要删除的相片');
	return false;
}

</script>
</head>
<body>
<div id="content">
  <h1>相册 - {{$album.title|escape}}</h1>
  <p>您可以点击缩略图查看完整大小的相片。要删除相片，请选中相片下的复选框，然后点击“删除”按钮。点击<a href="{{ url }}">返回首页</a>。</p>
  <form name="form_delete" action="{{ url controller='manage' action='deletePhotos' id=$album.album_id }}" method="post" onsubmit="return checkSelected(this);">
    <p> {{ section name=i loop=$album.photos }}
      {{ assign var='p' value=$album.photos[i] }}
    <div class="album">
      <h3>{{$p.title|escape}}</h3>
      <a href="upload/photos/{{$p.photo_filename}}" target="_blank"><img src="upload/thumbs/{{$p.thumb_filename}}" border="0" class="thumb" width="220" height="220" /></a>
      <p>
        <input type="checkbox" name="selected[]" value="{{$p.photo_id}}" id="selected_{{$p.photo_id}}" />
        <label for="selected_{{$p.photo_id}}">日期: {{ $p.created|date_format:"%y-%m-%d" }}, 大小: {{ math equation="s / 1024" s=$p.filesize format="%0.2f" }}KB</label>
      </p>
    </div>
    {{ /section }}
    </p>
    <div class="nofloat"></div>
	{{ if $album.photos_count > 0 }}
    <p>
      <input type="submit" name="btnDelete" value="删除选中的相片" />
    </p>
	{{ /if }}
  </form>
  <hr />
  </p>
  <p>点击“浏览”按钮选择要上传的相片，然后点击“提交”按钮即可。</p>
  <form name="form_upload" action="{{ url controller='manage' action='upload' id=$album.album_id }}" method="post" enctype="multipart/form-data" onsubmit="if (this.postfile.value == '' || this.title.value == '') { alert('必须选择要上传的文件'); this.postfile.focus(); return false; } else { this.btnSubmit.disabled = true; return true; }">
    <p>选择要上传的相片：<br />
      <input type="file" name="postfile" size="60" onchange="this.form['title'].value = basename(this.value);" />
    </p>
    <p>相片名称：<br />
      <input type="text" name="title" size="40" />
    </p>
    <p>
      <input type="submit" name="btnSubmit" value=" 添加相片 " />
    </p>
  </form>
</div>
</body>
</html>
