<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Album</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="content">
  <h1>创建新相册</h1>
  <p>相册创建成功后，即可添加相片。点击<a href="{{ url }}">返回首页</a>。</p>
  <p>
  <form name="form_newalbum" action="{{ url controller='manage' action='newalbum' }}" method="post">
    <p>
      <label for="title">相册名称：</label>
      <br />
      <input type="text" name="title" id="title" size="70" />
    </p>
    <p>
      <input type="submit" name="btnSubmit" value=" 提  交 " />
    </p>
  </form>
  </p>
</div>
</body>
</html>
