<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>动态菜单</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<script language="javascript" type="text/javascript">

function selectReq(req)
{
	if (req != '') {
		id = 'role_' + req;
		document.getElementById(id).checked = true;
	}
}

function checkSubmit(form)
{
	els = form.elements["roles[]"];
	for (i = 0; i < els.length; i++) {
		if (els[i].checked) {
			return true;
		}
	}
	alert('请选中至少一个角色');
	return false;
}

function uncheckAll(form)
{
	els = form.elements["roles[]"];
	for (i = 0; i < els.length; i++) {
		els[i].checked = false;
	}
	return true;
}

</script>
<div id="topNavBar">
  {{ webcontrol type="menu" name="myMenu" }}
</div>

<div id="content">

  <div id="current_action">
  	{{ if $requestUri }}
    选中菜单项访问的 URL：{{$requestUri|escape}}<br />
	{{ /if }}
	当前用户具有的角色：{{ $currentRolesText|escape }}
  </div>

  <div id="update_roles_form">
    <form name="update_roles" action="{{ url action='updateRoles' }}" method="post" onsubmit="return checkSubmit(this);">

	  {{ section name=i loop=$groups }}

	  <div class="block">
	    <h3>组：{{$groups[i].title|escape}}</h3>

		{{ section name=role loop=$groups[i].roles }}

		<input type="checkbox" name="roles[]" value="{{$groups[i].roles[role].role_id}}" id="{{ 'role_'|cat:$groups[i].roles[role].role_id }}" onclick="selectReq('{{$groups[i].roles[role].req}}'); return true;" {{ if in_array($groups[i].roles[role].rolename, $currentRoles) }}checked="checked"{{ /if }} />

        {{ webcontrol type='label' for='role_'|cat:$groups[i].roles[role].role_id caption=$groups[i].roles[role].description }}
		<br />

        {{ /section }}

	  </div>

	  {{ if $smarty.section.i.index % 3 == 2}}
	  	<div class="nofloat"></div>
	  {{ /if }}

      {{ /section }}

	  <div class="nofloat"></div>

	  <input type="button" name="btnUncheckAll" value="清除所有" onclick="return uncheckAll(this.form);" />

	  <input type="submit" name="Submit" value="更新用户角色" />

    </form>
  </div>

</div>

</body>
</html>
