@charset "utf-8";
/* CSS Document */

body {
	font-size: 14px;
	background-color: white;
	text-align: center;
	padding: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

form {
	margin: 0px;
	padding: 0px;
}

label {
	line-height: 150%;
	vertical-align: text-top;
}

a {
	color: #0000CC;
}

.textbox {
	font-size: 14px;
	width: 660px;
}

.nofloat {
	float: none;
	clear: both;
}

#all {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 0px;
}

#header {
	margin: 0px;
	padding: 0px;
	background-color: white;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 40px;
}

#header h1 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;
	padding: 0px;
	line-height: 100%;
	color: #0000CC;
}

#nav {
	background-color: #2319DC;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	list-style: none;
	height: 24px;
}


#nav a {
	font-size: 14px;
	padding-top: 2px !important;
	padding: 4px 10px 4px 10px;
	text-decoration: none;
	line-height: 22px;
	color: white;
}

#nav a.current {
	background-color: #E10601;
	font-weight: bold;
}

#content {
	padding: 0px;
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0px;
	overflow: hidden;
}

#main {
	padding: 10px 20px 10px 20px;
	float: left;
	width: 670px;
	background-color: #F7F7F7;
	padding-bottom: 9000px;
	margin-bottom: -9000px;
}

#main h3 a {
	color: black;
	font-weight: bold;
	font-size: 14px;
}

.created {
	color: #999;
	font-size: 12px;
}

.meta {
}

.meta span {
	font-size: 12px;
	color: #999;
}

p.body {
	padding: 10px;
	line-height: 140%;
}

#main hr {
	height: 1px;
	border: 1px solid #E10601;
	border-bottom: none;
}

#sidebar {
	width: 278px;
	float: left;
	padding-bottom: 9000px;
	margin-bottom: -9000px;
}

#sidebar h3 {
	font-size: 14px;
	color: #0000CC;
	line-height: 120%;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
}

#tags_cloud {
	padding: 10px 10px 10px 20px;
}

#recent_comments {
	padding: 10px 10px 10px 20px;
	font-size: 12px;
}

#recent_comments a {
	color: #0000CC;
	text-decoration: none;
}

#recent_comments a:hover {
	text-decoration: underline;
}

.comment_body {
	color: #666;
	margin: 4px 0px 20px 0px;
	padding-left: 8px;
	border-bottom: 1px solid #ECEDEF;
	padding-bottom: 8px;
}

#footer {
	height: 20px;
	border-top: 1px solid #ccc;
	background-color: white;
	padding: 10px;
}

.quote {
	background-color: #FFFFCC;
	color: #FF6600;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	word-break: break-all;
}

code {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	color: #336699;
	word-break: break-all;
}

pre {
	color: #336699;
	background-color: #efefef;
	padding: 15px;
}
